body {
  background-color: #86C6DB;
}
h3 {
  color: white;
}
html, body, .container, .content {
  height: 100%;
}
.container, .content {
  position:relative;
}
actual-content {
padding-top: 40px;
}
.wrapper {
  min-height: : 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}
.push {
  height: 50px;
}
.footer-wrapper {
  position: relative;
  height: 50px;
}
a {
  color: #304E63;
  font-weight: bold;
}
p.footer {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: #E1F2F7;
}