extends layout

block content
  div(class='.container')
    div(class='row header')
      div(class='col-xs-12')
        div(class='h3') Pullias.com
        div presents
        div(class='h4') Launch Party!
        div(class='h3') Karaoke Jam!
        div at
        div(class='h4') Santa's Pub!
        div 11/11/2013 8pm
    div(class='row middle maxWidth700')
      div(class='col-xs-12')
        include playlist
    div(class='row footer maxWidth700')
      div(class='col-xs-12')
        if auth === false
          a(href='/auth/google')
            img(src='/img/White-signin-Long-base-44dp.png' id='googleLoginImg')
        else
          form(action='/req' method='post' class='form-inline')
            button(type='submit' class='btn btn-success' id='searchButton') Request a Song
            span(id='searchSpan')
              input(type='search' class='form-control input-sm' name='searchInput' id='searchInput')   
    div(class='modal fade' id='deleteModal')
      div(class="modal-dialog" id="divModalDialogDelete")
        div(class='modal-content')
          div(class='modal-body')
            a
              button(class='btn btn-danger' type='submit') Delete the song?
  script(type='text/javascript' src='/js/front-utils.js')
  script $('#scrollDiv').scrollbox({ linear: true, step: 1, delay: 0, speed: 100, onMouseOverPause: false});