extends layout

block content
  div(class='row-fluid', style='text-align: center')
    div(class='span12')
      div Pullias.com
      div presents
      div Launch Party!
      div Karaoke Jam!
      div at
      div Santa's Pub!
      div 11/11/2013 8pm
      div
        a(href="/req") Request a Song
      div
        a(href="/list") Set List