extends layout

block content
  div(class='container')
    div(class='row')
      div(id='headerDiv' class='center col-xs-12')
        div(class='h3') Pullias.com
        div presents
        div(class='h4') Launch Party!
        div(class='h3') Karaoke Jam!
        div at
        div(class='h4') Santa's Pub!
        div 11/11/2013 8pm
    div(class='row')
      div(class='col-xs-12')
        include playlist
        div(id='spotifyDiv' class='hidden-xs')
          iframe(src=spotifySrc frameborder=0 allowtransparency=true)
    div(class='row')
      div(class='center col-xs-12')
        if auth === false
          a(href='/auth/google')
            img(id='googleLoginImg' src='/img/White-signin-Long-base-44dp.png')
        else
          include searchbar 
    div(id='deleteModal' class='modal fade')
      div(class="modal-dialog modal-dialog-delete")
        div(class='modal-content')
          div(class='modal-body')
            a
              button(class='btn btn-danger' type='submit') Delete the song?
  // scripts
  script(type='text/javascript' src='/js/front-utils.js')
  script $('#scrollDiv').scrollbox({ linear: true, step: 1, delay: 0, speed: 100, onMouseOverPause: false});
  script blinkXmas();