doctype 5
// by Jason Pullias
// view source at https://github.com/pullias/karaoke-party
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' media='screen')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')