extends layout

block content
  div Playlist
  ul
    each song in results
      li= song.artist_name + " : " + song.title + " " + song.performer
        a(href="/delete/" + song.id)
          div delete
  div
    a(href="/req") Request a Song      