//- This renders the playlist
div(id='scrollDiv' class='scroll-text')
  ul(class='list-group')
    each song in results
      li(class='list-group-item')
        div(class='title')= song.title
          span(class='spotifySong')
            a(href=song.spotify)
              img(src='/img/spotify-logo-primary-vertical-light-background-rgb.png' height='30px')
        div(class='artist')= song.artist_name
        if (auth === true)
          div(class='italic')= song.performer.slice(0,2 + song.performer.lastIndexOf(' '))
            if (song.performerid == user)
              span(class='glyphicon glyphicon-remove' onclick='showDeleteModal("' + song.id + '")')