extends layout

block content
  div Select a song
  ul
    each song in results
      a(href=song.link)
        li= song.artist_name + " : " + song.title
        li= "D " + Math.round(100*song.audio_summary.danceability) + " / AF " + Math.round(100*song.artist_familiarity) + " / H " + Math.round(100*song.song_hotttnesss)
  div 
    a(href='/req') Search again
  div (powered by EchoNest)