extends layout

block content
  div(class='row-fluid')
    div(class='span12')
      form(action='/req' method='post' class='form-search')
        fieldset
          label Request a song
          input(type='text' name='userinput' class='search-query')
          button(type='submit' class='btn btn-success') Search