body
  padding: 5px
  background-color: #86C6DB
.header
  text-align: center
.middle
  padding-top: 10px
.reqBtn
  width: 15%
  min-width: 126px
  margin-right: 5px
  margin-bottom: 5px
.search
  width: 80%
.echoNest
  padding-top: 15px
.modal-body
  background-color: #EBFAFF
.delete-modal-body
  background-color: white
.glyphicon-remove
  color: red
  font-size: larger
  float:right
#title
  font-weight: bold
.delete-modal-dialog
  text-align: center
  width: 200px
#googleLoginImg
  display: block
  margin-left: auto
  margin-right: auto    