body
  padding: 5px
  background-color: white
.header
  text-align: center
.middle
  padding-top: 10px
.footer
  margin-top: 5px
.glyphicon-remove
  color: red
  margin-left: 10px
#echoNestImg
  padding-top: 15px
#googleLoginImg
  display: block
  margin-left: auto
  margin-right: auto
#searchInput
  width: 95%
  -webkit-appearance: none
#searchButton
  margin-right: 5px
  float: left
  height: 42px
#searchSpan
  display: block
  overflow: hidden
#divModalDialogDelete
  width: 200px
  text-align: center
#divModalDialogConfirm
  width: 90%
  max-width: 400px
  margin-left: auto
  margin-right: auto
  text-align: center
#divModalContentConfirm  
  background-color: #e2ffe0
// fix issue where body shrinks on the right while modal is open on small screen
body.modal-open
  margin-right: 0
.scroll-text
  height: 300px
  overflow: hidden
.maxWidth700
  max-width: 700px
  margin-left: auto
  margin-right: auto
#divSpotify
  height: 75px
  margin-top: 10px
  margin-bottom: 10px
  text-align: center
  -webkit-filter: grayscale(0.8)
.spotifySong
  float: right
.bold
  font-weight: bold
.italic
  font-style: italic