body
  padding: 5px
  background-color: white
.header
  text-align: center
.middle
  padding-top: 10px
.footer
  margin-top: 5px
.glyphicon-remove
  color: red
  font-size: larger
  float:right
#echoNestImg
  padding-top: 15px
#googleLoginImg
  display: block
  margin-left: auto
  margin-right: auto
#searchInput
  width: 95%
  -webkit-appearance: none
#searchButton
  margin-right: 5px
  float: left
  height: 42px
#searchSpan
  display: block
  overflow: hidden
#divModalDialogDelete
  width: 200px
  text-align: center
#divModalDialogConfirm
  width: 70%
#divModalContentConfirm  
  background-color: #e2ffe0
// fix issue where body shrinks on the right while modal is open on small screen
body.modal-open
  margin-right: 0
.scroll-text
  height: 300px
  overflow: hidden
.maxWidth700
  max-width: 700px
  margin-left: auto
  margin-right: auto